body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 200vh;
}


.center-wrapper {
  position: absolute;
  margin-top: 18%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
  
}

#none{
height: 70px;
width: 50px;
visibility: hidden;
}

.svg-container  {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.img-container1{
  margin-top: 100px ;
  margin-left: 80px;
}

  #img-1 ,#img-2{
    margin-right: 0;
    width: 340px;
  }
.centerInfo{
  margin-top: 14%;
  left: 18%;
  
}
.centerInfo h1{
font-size: 50px;
}
.centerInfo p{
padding-left: 40%;
color: #e3cfe7;
}

#award1{
 margin-top:60%;
  left: 10%;
}
#award1 p,#viewCase,h4{
  color: #e3cfe7;
}

#viewCase{
margin-top: 40px;
white-space: pre;
}

.messageIcon{
  margin-top: 0%;
}

